<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.nawal.diaryapp">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/startu_image" android:theme="@style/AppTheme">

        <activity
            android:name=".mainfolder.StartupScreenActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".mainfolder.InputSchoolActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".mainfolder.InputUserInfoActivity"
            android:label="@string/app_name"
            android:parentActivityName=".mainfolder.InputSchoolActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nawal.diaryapp.mainfolder.InputSchoolActivity" />
        </activity>

    </application>

</manifest>
